/* css for body */
.main-page {
  background-color: #355667;
  color: #ffffff;
}
/* user story 1 */
#title {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
/* css for main part of the page. I will try to go with a flexbox setup. kinda scared and kinda excited. Hope this works out */
.main-part {
  width: 70%;
  margin: auto;
   display: flex;
  flex-direction: column;
  background-color: #223E4A;
  padding: 1em;
  font-family: 'Roboto Condensed', sans-serif;
}
/* User story 2 */
#description {
  align-self: center;
  font-size: 1.5em;
}
/* Now time to work on the fieldset and input elements for first identity section */
[type="email"] {
  margin-left: 1em;
}
[type="text"] {
  margin-bottom: 1em;
  margin-left: 1em;
}
[type="number"] {
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.select {
  margin-left: 2.5em;
}
[type="radio"] {
  margin-bottom: 1em;
}
[type="checkbox"] {
  margin-bottom: 1em;
}
/* I will work on fulfilling user conditions before tackling media */
/* user story 3 */
#survey-form {
font-weight: 500;

}
/* user storied 4-9 should be fulfilled */
/* user storied 10 */
#name-label, #email-label, #number-label {
  font-family: 'Roboto Condensed', sans-serif;
}
/* now I need to increase size of feedback box */
.text-area {
  vertical-align: top;
  margin-left: 1em;

}
/* button. going to use a button generator */
#submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;

}
.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* now I gotta work on footer now that I passed the tests */
footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
img {
  display: block;
  max-width: 50px;
  height: 50px;
  width: 100%;
}
.div {
  margin-left: 2em;
  font-size: 15px;
  font-weight: 500;
}
/* Now to work on media */
@media (max-width: 500px) {
  .main-page {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: minmax(auto,5em);
    grid-template-rows: repeat(auto-fit, minmax(100%,100px));
    justify-items : center;
    /* align-items: center; */
    grid-template-areas:
    "person"
    "fide"
    "checkbox"
    "happiness"
    "feedback"
    "text-area"
    "submit"
  }
  .person {
    grid-area: person;
  }
  .fide {
    grid-area: fide;
  }
  .checkbox {
    grid-area: checkbox;
  }
    .happiness {
      grid-area: happiness;

    }
    .feedback {
      grid-area: feedback;
    }
    .submit {
      grid-area: submit;
    }
    .text {
      height: 5em;
      width: 5em;
    }



}
